<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>DVV</title>
    
    <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap-theme.min.css">
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">
  </head>
  <body>
    <div class="row">
    <div class="col-md-10"><h1>Web technology</h1></div>
    <div class="col-md-2">
        <ul class="nav nav-pills">
          <li role="presentation" class="active"><a href="signup">Sign Up</a></li>
          <li role="presentation" id="si"><a href="signin">Sign In</a></li>
        </ul>
    </div>

    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <h3 class="flashes" align="center" style="color:#337ab7">{{ message }}</h3>
      {% endfor %}
    {% endif %}
  {% endwith %}
      <style>
        body {
        background-image: url(templates/images/dvv.png);
        background-position: center top;
        background-repeat: no-repeat;
       }
    </style>

  </body>
</html>